@use "../base/variables" as v;
@use "../base/mixins" as m;

.form__container{
    background-color: v.$dark-card;
    padding: 10px;
    @include m.tablet{
        padding: 40px;
    }
}

.pokedex__container{
    // @include m.grid(4, 10px);
    min-height: 500px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 10px;
    .pokemon-card{
        position: relative;
        border-radius: 5px;
        transition: transform .5s ease;
        figure{
            border-radius: 5px;
            background-color: lighten($color: v.$gris, $amount: 20%);
        }
        .pokedex_number{
            color: v.$dark-card;
        }
        .pokemon__name{
            font-size: 1.3rem;
        }
        &:hover{
            transform: translateY(-15px);
        }
    }

}