@use  "../base/variables" as v;
@use  "../base/mixins" as m;

footer{
    position: relative;
    background-color: v.$black;
    color: v.$white;
    padding: 40px;
    text-align: center;
    overflow: hidden;
    p{
        font-size: .7rem;
        @include m.tablet{
            font-size: unset;
        }
    }
    figure{
        opacity: .5;
        width: 30%;
        position: absolute;
        right: 0;
        top: 15%;
        transform: translate(20%, -40%);
        @include m.desktop{
            width: 10%;
            top: 50%; 
            transform: translateY(-50%);
        }
    }
}