@use "../base/variables" as v;
@use "../base/mixins" as m;
// .pokemon__container-main{
    .pokemon__container{
        .title{
            margin: 0 auto;
            background-color: v.$black;
            width: fit-content;
            display: flex;
            align-items: center;
            gap: 10px;
            padding: 10px;
            color: v.$gris;
            figure{
                height: v.$tamIcon;
                width: v.$tamIcon;
            }
            @include m.tablet{
                margin: unset;
            }
        }
        .pokemon__box{
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
            .card{
                background-color: v.$light-black;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                border: 1px solid v.$black;
                border-radius: 0;
                overflow: hidden;
                .pokemon__num-img{
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    figure{
                        z-index: 1;
                    }
                    figure, .pokemon__number{
                        opacity: .5;
                    }
                }
                .pokemon__number{
                    position: absolute;
                    top: 30%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    font-size: 8.5rem;
                    font-family: v.$second_font;
                    font-weight: bolder;
                }
                .pokemon__info{
                    background-color: v.$dark-card;
                    padding: 10px;
                    color: v.$white;
                    flex: 1;
                    .pokemon__name{
                        font-size: 1.3rem;
                    }
                    // .tipo__info{
                    //     display: grid;
                    //     grid-template-columns: .7fr 1fr;
                    //     row-gap: 4px;
                    //     font-size: .9rem;
                    // }
                    .pokemon__number2, .tipo__info{
                        display: none;
                    }
                }
            }
        }
        .pokemon__type{
            padding: 3px 5px;
            border-radius: 5px;
        }
    }
// }
.pokemon__container .pokemon__box.my_team{
    .card{
        .pokemon__number{
            font-size: 7rem;
        }
        &:hover{
            .pokemon__num-img{
                background-color: v.$black;
                .pokemon__number{
                  opacity: .8;
                  color: v.$gris;
                }
                figure{
                  opacity: 1 !important;
                }
              }
        }
    }
    .empty-text__container{
        background-color: v.$black;
        color: v.$white;
        padding: 5rem;
        @include m.tablet{
            padding: 10rem;
        }
    }
}