<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <th:block th:replace="~{components/resources :: resources}"></th:block>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css"/>
    <title th:text="${title}"></title>
  </head>
  <body>
    <header th:replace="~{layouts/plantilla :: header}"></header>
    <!-- Carrusel -->
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <figure class="h-100">
            <picture>
              <source media="(min-width: 1024px)" th:attr="srcset=@{/images/carouselPk-1.jpg}">
              <source media="(min-width: 768px)" th:attr="srcset=@{/images/thumbnails/carouselPk-1_md.jpg}">
              <img th:src="@{/images/thumbnails/carouselPk-1_sm.jpg}" class="d-block img-fluid w-100" alt="Imagen de Pokemon"/>
            </picture>
          </figure>
          <div class="h-100 w-100 position-absolute top-0 d-flex align-items-center justify-content-center">
            <div class="tagline carousel-caption">
              <p class="tagline__text fw-bold m-0">
                Conviértete en un maestro Pokémon con nuestra guía completa de
                Pokedex
              </p>
            </div>
          </div>
        </div>

        <div class="carousel-item">
          <figure class="h-100">
            <picture>
              <source media="(min-width: 1024px)" th:attr="srcset=@{/images/carouselPk-3.jpg}">
              <source media="(min-width: 768px)" th:attr="srcset=@{/images/thumbnails/carouselPk-3_md.jpg}">
              <img th:src="@{/images/thumbnails/carouselPk-3_sm.jpg}" class="d-block img-fluid w-100" alt="Imagen de Pokemon"/>
            </picture>
          </figure>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

    <main class="container pokemon__container-main my-4">
      <!-- Pokemon destacados -->
      <div class="pokemon__container my-4 overflow-hidden">
        <div class="title">
          <figure class="m-0">
            <img th:src="@{/images/pokeball-icon-grey.svg}" alt="Pokeball" class="d-block img-fluid pokeball-icon"/>
          </figure>
          <h3 class="m-0 fw-bold">Pokémon destacados</h3>
        </div>
        <!-- Slider -->
        <div class="pokemon__box slider center">
          <div class="card" th:each="pokemon : ${pokemonDestacados}">
            <div class="pokemon__num-img">
              <figure class="m-0">
                <img th:if="${pokemon.sprites.other.officialArtwork.frontDefault != null}" th:src="${pokemon.sprites.other.officialArtwork.frontDefault}" th:alt="${pokemon.name}" class="d-block img-fluid"/>
              </figure>
              <span class="pokemon__number" th:text="${pokemon.id}"></span>
            </div>
            <div class="pokemon__info">
              <div class="d-flex align-items-center justify-content-between">
                <span class="pokemon__name fw-bold" th:text="${#strings.capitalize(pokemon.name)}"></span>
                <span class="pokemon__number2" th:text="${pokemon.id}"></span>
              </div>
              <div class="tipo__info">
                  <span>Tipo</span>
                  <div class="types d-flex gap-1 flex-wrap">
                    <span class="pokemon__type" th:each="type : ${pokemon.types}" th:classappend="${type.type.name.replaceAll('[áÁ]', 'a').replaceAll('[éÉ]', 'e').replaceAll('[íÍ]', 'i').replaceAll('[óÓ]', 'o').replaceAll('[úÚ]', 'u')}" th:text="${#strings.capitalize(type.type.name)}"></span>
                  </div>
                  <span>Habilidad</span>
                  <div class="habilidades">
                    <th:block th:each="habilidad, i : ${pokemon.abilities}">
                      <span th:text="${#strings.capitalize(habilidad.ability.name)}"></span>
                      <span th:if="${!i.last}">/ </span>
                    </th:block>
                    <!-- <span th:each="habilidad : ${pokemon.abilities}" th:text="${habilidad.ability.name}"></span> -->
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Equipo aleatorio -->
      <div class="pokemon__container mt-5">
        <div class="title">
          <figure class="m-0 align-self-baseline align-self-md-center">
            <img th:src="@{/images/pokeball-icon-grey.svg}" alt="Pokeball" class="d-block img-fluid pokeball-icon"/>
          </figure>
          <div class="d-flex align-items-center gap-3 flex-column flex-md-row">
            <h3 class="m-0 fw-bold">Genera tu equipo aleatorio</h3>
            <button class="btn btn-orange btn-generate-randomTeam"><i class="bi bi-arrow-clockwise"></i> Generar</button>
          </div>
        </div>
        <div class="pokemon__box my_team position-relative">
          <div class="empty-text__container">
            <p class="text-center m-0">Tu equipo aparecerá aquí</p>
          </div>
        </div>
      </div>
    </main>
    
    <div th:replace="~{layouts/plantilla :: btn-scrollToTop}"></div>

    <footer th:replace="~{layouts/plantilla :: footer}"></footer>
  </body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
  <script>
    $(document).ready(function () {
      $(".slider").slick({
        centerMode: true,
        arrows: true,
        slidesToShow: 5,
        focusOnSelect: true,
        prevArrow: '<button type="button" class="slick-prev">Previous</button>',
        nextArrow: '<button type="button" class="slick-next">Next</button>',
        responsive: [
          {
            breakpoint: 1024,
            settings: {
              centerMode: true,
              slidesToShow: 3,
            },
          },
          {
            breakpoint: 768,
            settings: {
              arrows: true,
              centerMode: true,
              slidesToShow: 2,
            },
          },
          {
            breakpoint: 480,
            settings: {
              arrows: false,
              centerMode: true,
              slidesToShow: 1,
            },
          },
        ],
      });
    });
  </script>
</html>
