@use "variables" as v;
@use "sass:color";

//Imagen de fondo
@mixin bg-image($imagen){
    background-image: url('uploads/'+#{$imagen});
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

@mixin bg-dark(){
    background-color: #00000085;
}

// Indicadores de carrusel personalizados
@mixin custom-indicators($bg-color, $padding, $bradius, $opacity){
    background-color: $bg-color;
    width: min-content;
    margin-left: auto;
    margin-right: auto;
    padding: $padding;
    border-radius: $bradius;
    opacity: $opacity;
}

// Flechas para slider y carrusel
@mixin arrow-slider($bg-color, $bg-size){
    background-color: $bg-color;
    border-radius: 50%;
    background-size: $bg-size;
}

// Grid
@mixin grid($columns, $gap){
    display: grid;
    grid-template-columns: repeat($columns, 1fr);
    gap: $gap;
}

@mixin fade-in($duration, $delay){
    animation: fade-in $duration ease $delay forwards;
}

//Media-query
// Media queries
@mixin mobile{
    @media screen and (min-width: v.$small) {
        @content;
    }
}
@mixin tablet{
    @media screen and (min-width: v.$medium) {
        @content;
    }
}
@mixin desktop{
    @media screen and (min-width: v.$big) {
        @content;
    }
}

// Keyframes
@keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}